.shopee-search-item-result {
    flex: 1;
    width: 0;
    min-width: 0;
    place-self: flex-start;
    .shopee-sort-bar {
        font-weight: 400;
        background: rgba(0, 0, 0, 0.03);
        padding: 0.8125rem 1.25rem;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .shopee-sort-bar__label {
            color: #555;
            margin: 0 0.3125rem 0 0;
        }
        .shopee-sort-by-options {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: flex-start;

            .shopee-sort-by-options__option {
                cursor: pointer;
                font-size: 0.875rem;
                user-select: none;
                display: flex;
                flex: 0 0 5.625rem;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                padding: 0 0.9375rem;
                background: #fff;
                white-space: nowrap;
                margin-left: 0.625rem;
                box-sizing: border-box;
            }
        }
        .shopee-sort-by-options__option--selected {
            color: #fff !important;
            background: #ee4d2d !important;
        }
        .select-with-status {
            position: relative;
            width: 12.5rem;
            margin-left: 0.625rem;
        }
        .select-with-status__holder {
            margin: 0;
            background: #fff;
        }

        .select-with-status__holder {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            transition: border-color 0.1s ease;
            box-sizing: border-box;
            border-radius: 2px;
        }
        .select-with-status__placeholder,
        .select-with-status__value {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: rgba(0, 0, 0, 0.8);
            margin: 0 0.625rem 0 0.75rem;
            padding: 0;
        }
        .select-with-status__placeholder {
            text-align: left;
            cursor: pointer;
            align-items: center;
            display: block;
            font-size: 0.875rem;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }
        .shopee-svg-icon.icon-arrow-down-small {
            width: 0.75rem;
            fill: #555;
            margin-right: 0.75rem;
        }
    }
    .shopee-mini-page-controller {
        display: flex;
        align-items: center;
    }
    .shopee-mini-page-controller__current {
        color: #ee4d2d;
    }
    .shopee-button-outline--disabled,
    .shopee-button-outline--disabled {
        background: #f9f9f9;
    }
    .shopee-mini-page-controller__prev-btn {
        margin-left: 1.25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px solid #f2f2f2;
    }

    .select-with-status__dropdown {
        display: none;
        width: 12.5rem;
        margin-top: 1px !important;
    }
    .select-with-status:hover {
        .select-with-status__dropdown {
            display: block;
        }
    }

    .shopee-search-item-result__items {
        margin: 0.5rem 0 0;
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -0.3125rem;
        margin-left: -0.3125rem;
        .shopee-search-item-result__item {
            margin: 0.3125rem 0;
            flex-basis: 20%;
            max-width: 20%;
            width: 20%;
            box-sizing: border-box;
            flex: 0 0 auto;
            padding-right: 0.3125rem;
            padding-left: 0.3125rem;
        }
    }
    .pagination {
        margin-top: 2.5rem;
        .shopee-page-controller {
            margin: 1.25rem 0 3.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                cursor: pointer;
            }
            .shopee-icon-button--left {
                text-align: right;
                margin-right: 0.9375rem;
                cursor: pointer;
            }
            .shopee-icon-button {
                color: rgba(0, 0, 0, 0.4);
                min-width: 2.5rem;
                height: 1.875rem;
                border: none;
                cursor: pointer;
            }
            .shopee-button-no-outline {
                padding: 0px;
                min-width: 2.5rem;
                text-align: center;
                height: 1.875rem;
                font-size: 1.25rem;
                margin-left: 0.9375rem;
                cursor: pointer;
                margin-right: 0.9375rem;
            }
            .shopee-button-no-outline--non-click {
                cursor: auto;
            }
            .shopee-icon-button--right {
                text-align: left;
                margin-left: 0.9375rem;
                cursor: pointer;
            }
            .shopee-button-solid {
                color: #fff;
                padding: 0px;
                width: 1.875rem;
                text-align: center;
                height: 1.875rem;
                font-size: 1.25rem;
                margin-left: 0.9375rem;
                margin-right: 0.9375rem;
                margin-top: 0 !important;
            }
            .shopee-button-solid {
                outline: none;
                cursor: pointer;
                border: none;
                font-size: 0.875rem;
                font-weight: 300;
                line-height: 1;
                letter-spacing: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
                position: relative;
                background: rgba(0, 0, 0, 0.54);
                color: #fff;
                transition: opacity 0.2s ease;
                border-radius: 2px;
                user-select: none;
            }
            .shopee-button-solid--primary {
                background: #ee4d2d;
            }
        }
    }
}
