.topbar {
    height: 40px;
    z-index: 400;
    background: transparent;
    position: relative;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    .container {
        .space {
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            padding: 0 0.4375rem;
            border-right: 2px solid hsla(0, 0%, 100%, 0.22);
        }
        .re-end {
            padding: 0 0.4375rem;
        }
        .topbar__left {
            display: flex;
            align-items: center;
            .space-end {
                border: none;
            }
            .social {
                a {
                    color: #fff;
                    margin: 0 5px;
                    font-size: 20px;
                    align-items: center;
                }
            }
        }
        .topbar__right {
            align-items: center;
            .topbar__links {
                display: flex;
                cursor: pointer;
                align-items: center;
                .topbar__link {
                    color: #fff;
                    font-size: 14px;
                    margin-left: 15px;
                    align-items: center;
                    i {
                        margin-right: 5px;
                    }
                    a {
                        color: #fff;
                    }
                }
                .user__infor {
                    display: flex;
                    align-items: center;
                }
                .user__account {
                    position: relative;
                    .user__infor {
                        .user__name {
                            max-width: 9.375rem;
                            padding-left: 0.3125rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .avatar {
                            width: 1.375rem;
                            height: 1.375rem;
                            display: inline-block;
                            position: relative;
                            border-radius: 50%;
                            border: 0.0625rem solid rgba(0, 0, 0, 0.09);
                            box-sizing: border-box;
                            .avatar__placeholder {
                                width: 100%;
                                position: relative;
                                padding-top: 100%;
                                background-color: #f5f5f5;
                                border-radius: 50%;
                                overflow: hidden;
                                .icon-headshot {
                                    font-size: 0.9375rem;
                                    line-height: 0.9375rem;
                                    stroke: #c6c6c6;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 1.5rem;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .triangle-up {
                    position: absolute;
                    top: -10px;
                    right: 30px;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                }

                .account__content {
                    position: absolute;
                    width: 170px;
                    top: 30px;
                    padding: 20px;
                    right: 0;
                    border-radius: 4px;
                    background-color: #fff;
                    display: none;
                    .history,
                    .account__infor {
                        color: black !important;
                        font-size: 12px;
                        text-align: left;
                        padding-top: 10px;
                    }
                    .sign__out {
                        padding-top: 10px;
                        text-align: left;
                        a {
                            font-size: 16px;
                            font-weight: 400;
                            color: black !important;
                            align-items: center;
                        }
                    }
                    .bd__bt {
                        border-bottom: 1px solid #ddd;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 10px 0;
                    }
                    i {
                        margin-right: 20px;
                        font-size: 16px;
                        color: black;
                    }
                }
                .user__account:hover {
                    .account__content {
                        display: block;
                    }
                }
            }
        }
    }

    ul li a:hover,
    ul li span:hover,
    ul li a:active {
        color: #ff8917 !important;
    }
}
