.main {
    margin-top: 130px;
    position: relative;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
    background: #40407a;
}
.searchbar {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
}
a {
    text-decoration: none;
    background-color: transparent;
}
a:visited {
    color: rgba(0, 0, 0, 0.8);
}
.btn {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}
.carousel-arrow {
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 12px 0px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-top: -25px;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1) 0s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0px;
}
.image-banner {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}
.flash-sale-item-card {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.green-1 {
    color: #389e0d !important;
}
.semibold {
    font-weight: 600 !important;
    margin: 0 !important;
}
button,
input,
select,
textarea {
    vertical-align: middle;
    outline: none;
    border: none;
}
button {
    background: 0 0;
    border: none;
    padding: 0;
}

.mb15 {
    margin-bottom: 15px !important;
}
.d-flex {
    display: flex !important;
}
.ant-form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
}
.ant-form-item {
    color: #000;
    margin-bottom: 15px;
}
.flex1 {
    flex: 1 1;
}
.mb0 {
    margin-bottom: 0 !important;
}
.ant-dropdown-menu,
.cart__item,
.account__content {
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}
.ant-form-item {
    box-sizing: border-box;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
    margin: 0 0 24px;
    vertical-align: top;
}

.ant-form-horizontal .ant-form-item-control {
    flex: 1 1;
}
.ant-form-item-control {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.ant-form-item-control-input {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 32px;
}
.ant-form-item-control-input-content {
    flex: auto;
    max-width: 100%;
}
.ant-input {
    border: 1px solid #d9d9d9;
}
.ant-input {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
}
.form-control {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    color: #000;
    border: 1px solid #d9d9d9;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    text-align: left;
    transition: all 0.3s;
}
.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}
.ant-btn {
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 40px;
}
.ant-btn-primary,
.ant-btn-primary:focus,
.ant-btn-primary:hover {
    background-color: #40407a;
    border-color: #40407a;
    color: #fff;
}

.ant-btn,
.ant-dropdown-menu,
.ant-input,
.ant-input-affix-wrapper,
.ant-modal-content {
    border-radius: 4px;
}
.mb30 {
    margin-bottom: 30px !important;
}
.text-center {
    text-align: center !important;
}
h2 {
    font-size: 22px;
    font-weight: 600;
}
.ant-input-affix-wrapper-lg,
.ant-input-lg,
.ant-select-lg {
    font-size: 14px;
}
.ant-input-affix-wrapper-lg,
.ant-input-lg,
.vntDatepicker .ant-picker-large {
    height: 40px;
    padding: 0 15px;
}
.ant-form-item-control-input-content {
    flex: auto;
    max-width: 100%;
}
.ant-input-affix-wrapper {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    display: inline-flex;
}
.ant-input-affix-wrapper-lg,
.ant-input-lg {
    height: 40px;
    padding: 0 15px;
}
.ant-input-suffix {
    align-items: center;
    display: flex;
    flex: none;
    cursor: pointer;
}
.search__body {
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}
.rating span {
    color: #f0c040;
    margin: 0.1rem;
}
.rating span:last-child {
    color: #404040;
}
.loading {
    display: block !important;
}
.success {
    color: #20a020;
}
.danger {
    color: #a02020;
}
.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    margin-top: 5px;
}
.alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
}
.alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
}
.alert-success {
    color: #20a020;
    background-color: #eeffe0;
}
.btn.btn_outline {
    color: #878787;
    background-color: #fff;
    border-color: #d9d9d9;
}
.signin,
.register {
    box-shadow: rgb(0 0 0 / 14%) 0px 3px 10px 0px;
}
.btn {
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}
._1hKScg {
    flex: 1 1 0%;
    margin: 0.3125rem;
}
._1A307B {
    outline: none;
    border: 0px;
    background: none;
    border-radius: 0.125rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    padding: 0px 0.125rem;
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 9%) 0px 1px 1px;
}
._1b1OLX,
.dJsOUU {
    align-items: center;
    display: flex;
    justify-content: center;
}
._1hKScg {
    flex: 1 1 0%;
    margin: 0.3125rem;
}

._1b1OLX {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1px;
}
._1b1OLX,
._1JEYOo,
._1o_kg_ {
    flex-shrink: 0;
}

._1b1OLX,
.dJsOUU {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
}
._1SPkQc {
    background-color: rgb(66, 133, 244);
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
}
._35Loth {
    background-color: rgb(255, 255, 255);
}
._1iDCwS {
    flex: 1 1 0%;
}
.shopee-button-solid {
    height: 1.875rem;
    margin: 1.25rem 0 0;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
}

.shopee-button-solid--primary {
    background: #40407a !important;
}
.shopee-button-solid {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    position: relative;
    background: rgba(0, 0, 0, 0.54);
    color: #fff;
    transition: opacity 0.2s ease;
    border-radius: 2px;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
}

.shopee-price-range-filter--vn .shopee-price-range-filter__input {
    width: 5rem;
    font-size: 0.75rem;
}

.shopee-price-range-filter__input {
    width: 4.375rem;
    height: 1.875rem;
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.26);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0.3125rem;
    font-size: 0.8125rem;
    text-transform: uppercase;
    border-radius: 0.125rem;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
}
.select-with-status__holder,
.shopee-sort-by-options__option {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 2%);
    height: 2.125rem;
    line-height: 2.125rem;
    border-radius: 2px;
    border: 0;
}
.shopee-mini-page-controller__next-btn,
.shopee-mini-page-controller__prev-btn {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    width: 2.25rem;
    height: 2.125rem;
    border-radius: 2px;
    background: #fff;
    border: 0;
}
.shopee-sort-by-options .select-with-status__dropdown {
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 5%);
    margin: 0;
    padding: 0.625rem 0;
    border: 0;
}
.select-with-status__dropdown {
    position: absolute;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    max-height: 16.875rem;
    z-index: 10000;
    width: 100%;
    padding: 5px 0;
    margin: 0 -1px;
    border-radius: 2px;
    margin-top: 1px;
}
.shopee-sort-by-options .select-with-status__dropdown-item:hover {
    background: transparent;
    color: #40407a;
}
.shopee-sort-by-options .select-with-status__dropdown-item {
    padding: 0 0.75rem 0 0.9375rem;
    cursor: pointer;
}

.shopee-sort-by-options .select-with-status__dropdown-item,
.shopee-sort-by-options .select-with-status__placeholder,
.shopee-sort-by-options .select-with-status__value {
    text-align: left;
    line-height: 2.125rem;
    font-size: 00.875rem;
}
.select-with-status__dropdown-item:hover {
    background: #40407a;
    color: #fff;
}
.select-with-status__dropdown-item--with-tick {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommend-title {
    width: 100%;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
}

.btn-light--link {
    color: #555;
}
.btn-light {
    background: #fff;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
}
.btn--m {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}
.btn--inline {
    display: inline-flex;
}

.danger {
    color: #a02020;
}

.signin-panel {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
}

.card {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.items-center {
    align-items: center;
}

/*-------button-------*/
.btn--l {
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
}
.btn-tinted {
    background: rgba(86, 63, 221, 0.1);
    border: 1px solid #40407a;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
}
.btn-tinted,
.btn-tinted--link {
    color: #40407a;
}

.product-ratings {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    background: #fff;
    margin-top: 0.9375rem;
    padding: 1.5625rem;
    overflow: visible;
}

.cart-page__header,
.subtotal {
    align-items: center;
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 1px 0px;
    overflow: hidden;
    border-radius: 3px;
    height: 3.4375rem;
    font-size: 0.875rem;
    background: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 12px;
    color: rgb(136, 136, 136);
    padding: 0px 20px;
}
.cart-page__section {
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 1px 0px;
    border-radius: 0.125rem;
    background: rgb(255, 255, 255);
    margin-bottom: 0.9375rem;
    overflow: visible;
}
.shopee-product-flash__sale {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
}
/*----------------------------------------from-info-----------------------------------------------*/
._2XRSuf {
    min-height: 37.5rem;
    margin: 0 auto;
    width: 75rem;
}

._2XRSuf {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._1ilxso,
._1wjIrC,
._2XRSuf,
._10Vl49 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._1jDxWZ {
    min-height: 22.125rem;
}

._34gSQ- {
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
    border-radius: 0.25rem;
    overflow: hidden;
    width: 31.25rem;
}
.Xqnqjs {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 5rem;
}
._1ix216,
.Xqnqjs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._1ix216,
.IFLxoY,
.Xqnqjs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.IFLxoY,
.Xqnqjs {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._3e4zDA {
    padding: 0 1.875rem 1.875rem;
    overflow: hidden;
}
._3qVJYR {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
}
._3qVJYR,
._6naxFx,
._36wKwh {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._3qVJYR,
._6naxFx {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

._3p_roN {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.25rem;
    color: #222;
    padding-right: 5rem;
    max-width: -webkit-calc(100% - 10rem);
    max-width: calc(100% - 10rem);
}
._3eCQOY {
    padding: 0 1.875rem;
    max-width: -webkit-calc(100% - 3.75rem);
    max-width: calc(100% - 3.75rem);
}
.ZWZ4ab {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}
._2_QpGk {
    margin-bottom: 1.25rem;
}

._3nm8yw {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._18qY2- {
    margin-top: 0.3125rem;
}
._2KbZSJ {
    margin-top: 1.5625rem;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
}
.JIoEIt {
    width: 100%;
}

.JIoEIt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._2HCc0n {
    width: 3.75rem;
    height: 3.75rem;
    margin: 1.25rem auto 0;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.09);
}
._3mizNj {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
}
.R49cvp {
    margin-right: 0.3125rem;
}
._3LmzHH {
    color: #40407a;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}
._1ExuWp {
    margin: 2.1875rem 0 0 0.625rem;
    width: 9.375rem;
}

._2Exa8W {
    color: #555;
}
._3kANJY {
    text-transform: uppercase;
}
.hh2rFL {
    height: 2.5rem;
    min-width: 8.75rem;
}
._3Nrkgj {
    outline: none;
    padding: 0 0.625rem;
    border: 0;
    background: none;
    border-radius: 0.125rem;
}
._1ruZ5a,
.hh2rFL {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._1ruZ5a {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._3_offS {
    color: #fff;
    background-color: #40407a;
    box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
}
.yReWDs {
    padding: 0.75rem;
    outline: none;
    border: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-filter: none;
    filter: none;
}

/*-----------------------------------------ShippingAddress---------------------------------------*/
._2IJN-0 {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
._1lzg0h {
    background: #fff;
    height: auto;
    z-index: 10000;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
    position: relative;
}
.shopee-popup-form {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    border-radius: 3px;
    width: 500px;
    max-width: 100%;
    padding: 30px 30px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
}
.shopee-popup-form__header,
.shopee-popup-form__title {
    display: flex;
    align-items: center;
}
.shopee-popup-form__title {
    font-weight: 400;
    font-size: 1.25rem;
    color: #222;
    text-transform: capitalize;
}
.address-modal .shopee-popup-form__main-container {
    margin-bottom: 0;
    padding-bottom: 84px;
}
.address-modal__error_message,
.address-modal__message {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0 0 0.625rem;
    width: 100%;
}
.address-modal__form_input {
    width: 100%;
}
.-cdiFe {
    position: relative;
    margin-bottom: 15px;
}
._3ZW3SX {
    display: block;
    margin-top: 6px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
    border-radius: 2px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.14);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
._2PIkC2 {
    display: none;
    position: absolute;
    top: -6px;
    left: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    padding: 0 3px;
    background: #fff;
}
._2D9bmD {
    height: 38px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    flex: 1;
    outline: none;
    font-size: 14px;
    min-width: 0;
    color: #222;
    border: none;
}
._1JwQGI {
    background-image: linear-gradient(180deg, #fff, #f7f7f7);
}

._10sfY1,
._10sfY1 ._3a_MLW {
    cursor: pointer;
}
._10sfY1 {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    transition: border-color 0.1s ease;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 0.625rem;
}
.kbgYvy {
    display: flex;
    align-items: center;
    display: block;
    cursor: default;
    font-size: 0.875rem;
    color: #bbb;
    padding: 0.625rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
._3byHhn {
    display: flex;
    align-items: center;
    height: 100%;
}
._3byHhn > div {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.4);
    margin-right: 15px;
    margin-left: 5px;
}
.shopee-popup-form__header {
    height: 60px;
}
.shopee-popup-form__main {
    flex: 1;
    overflow-y: auto;
    padding-right: 50px;
    margin-right: -50px;
    padding-left: 50px;
    margin-left: -50px;
    position: relative;
}
.shopee-popup-form__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    right: 0;
    height: 84px;
    text-transform: uppercase;
    background: linear-gradient(hsla(0, 0%, 100%, 0.9), #fff);
    align-items: center;
    padding: 22px 30px;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.address-modal__select-location {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
    min-height: 3.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    padding-left: 0.625rem;
    margin-bottom: 0.625rem;
}
.address-modal__select-location .icon-arrow-right,
.address-modal__select-location .icon-location-marker {
    margin-right: 0.625rem;
    flex-shrink: 0;
}
svg:not(:root) {
    overflow: hidden;
}
.icon-location-marker {
    color: #40407a;
    fill: currentColor;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
.address-modal__select-location-main {
    display: flex;
    flex-direction: column;
}
.address-modal__select-location .icon-arrow-right {
    margin-left: auto;
    color: #bbb;
}
.address-modal__select-location-main-text {
    color: #555;
    flex: 1;
}
.address-modal__select-location-main-subtext {
    color: #bbb;
    flex: 1;
}
._2Y_sWW {
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;
    margin-bottom: 1.3125rem;
}
.TVRZZP {
    margin-right: 0.625rem;
    margin-bottom: 0.5rem;
    flex-shrink: 0;
    color: #555;
}
._39FXI4,
.rLhYlZ {
    display: flex;
    align-items: center;
}
._39FXI4 {
    padding: 0 0.75rem;
    margin-right: 0.625rem;
    height: 2.5rem;
    max-width: 9.125rem;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgb(0 0 0 / 3%);
    border-radius: 2px;
}
._39FXI4 span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cancel-btn {
    padding: 10px 0;
    box-sizing: border-box;
    width: 140px;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
    color: #555;
    margin-right: 6px;
    line-height: 1;
    background: none;
    border: none;
    transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
._1wSE68 {
    width: 140px;
    text-transform: uppercase;
}
.btn-solid-primary {
    color: #fff;
    background: #40407a;
}
.btn--s {
    height: 34px;
    padding: 0 15px;
    min-width: 60px;
    max-width: 190px;
}
.btn--inline {
    display: inline-flex;
}
/*-------------------------------payment-------------------------------------------*/
._1iurwE {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    background: #fff;
}
._1p19xl {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 3px;
}
.ktZs2X {
    height: 50px;
    padding: 24px 30px 0;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 3px;
}
.jNDkp2 {
    background: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 3px;
}
.QjLA16 {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 3px;
}
.f23wB9 {
    margin-bottom: 12px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 5%);
}
.PC1-mc {
    background: #fffefb;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-top: 1px solid #f1f0ed;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-template-rows: auto;
    grid-column-gap: 10px;
}

._1WlhIE .stardust-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
    border-radius: 2px !important;
    color: #555;
    text-transform: capitalize;
    outline: none;
}
.bill_order {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
}
.search_input {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}
.noresult_content {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}
